<div class="wrapper">
    <div class="card">
      <div class ="deleteAndUpdate">
        <button *ngIf="this.auth.user != null" id="customizedButton" (click)="openDialog()" >
          <img id="customPic" src="https://cdn-icons-png.flaticon.com/512/7191/7191951.png">
        </button>
        <button *ngIf="this.auth.user != null" id="buttonDelete" (click)="deleteItem(item)">X</button>
      </div>
      <img src="{{item.image}}" alt="" />
      <div id="container">
        <p id="name">{{item.name}}</p>
        <p id="price">{{item.price}} đ</p>
        <p id="stock">Số lượng kho: {{item.stock}}</p>
        <button id="buttonAdd" (click)="this.cartService.addToCart(item)">Thêm vào giỏ hàng</button>
      </div>
    </div>
</div>