<div class="containerNavbar">
    <div class = "logoHolder">
        <img src="https://www.lotteria.vn/grs-static/images/lotteria_logo.svg" style="width: 70px;height: 80px" (click)="navigateToHome()">
    </div>
    <div class = "nameBrand">
        <p id="Sale">Khuyến Mãi</p>
        <p id="Order">Đặt Hàng</p>
        <p id="Birthday">Sinh Nhật</p>
        <p id="Shop">Cửa Hàng</p>
        <p *ngIf="this.auth.user != null" id="Add"(click)="navigateToCart()">Quản Lý</p>
        <img id="Meow" src="https://static.thenounproject.com/png/1179225-200.png" (click)="navigateToMeow()">
    </div>
    <div class="rightContainerNavbar">
        <div class="topRight">
            <div class="language">
                <img src="https://www.lotteria.vn/grs-static/images/icon-vn.svg" style="height: 15px;">
                <p style="font-size: 12px;margin-left: 3px;margin-bottom: 0;">Tiếng Việt</p>
            </div>
            <div class="download">
                <img src="https://www.lotteria.vn/grs-static/images/logo-l.svg" style="height: 18px;">
                <p style="font-size: 12px;margin-left: 3px;margin-bottom: 0;font-weight: 550;color: white;">Download App</p>
            </div>
        </div>

        <div class="accountMenu">
            <img id="location" src="https://www.lotteria.vn/grs-static/images/icon-pos-2.svg" >
            <img *ngIf="this.auth.user == null" id="login" src="https://www.lotteria.vn/grs-static/images/icon-myaccount.svg" (click)="loginButton()">
            <img id="notification" src="https://www.lotteria.vn/grs-static/images/icon-notification.svg">
            <img id="cart" src="https://www.lotteria.vn/grs-static/images/icon-cart.svg">
            <img *ngIf="this.auth.user != null" id="logout" src="https://img.freepik.com/free-icon/logout_318-926141.jpg " style="height: fit-content;width: 40px" (click)="logoutButton()">
        </div>
    </div>
</div>
