<div id="carousel">
  <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
    <mdb-carousel-item>
      <img
        src="https://cdn.lotteria.vn/media/banner/b/a/banner_web-t_ng_qu_.jpg"
        class="d-block w-100"
        alt="..."
      />
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="https://cdn.lotteria.vn/media/banner/b/a/banner_web-7.jpg"
        class="d-block w-100"
        alt="..."
      />
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="https://cdn.lotteria.vn/media/banner/b/a/banner-dli-01_2.jpg"
        class="d-block w-100"
        alt="..."
      />
    </mdb-carousel-item>
  </mdb-carousel>
</div>

<div class="homePageContent">
  <app-homepage-content></app-homepage-content>
</div>
